$leftMarginSpacing: 120px;

main h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.filters-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: $leftMarginSpacing;
}

.filters-container .ages-filter-container {
  border-radius: 0px;
  margin-bottom: 20px;
}

.cost-filter-container {
  margin-bottom: 20px;
}

.cost-filter-container .cost-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 10px;
}

.units-container {
  margin-left: $leftMarginSpacing;
  width: 100%;
  max-width: 1000px;
  max-height: 400px;
  overflow-y: auto;
  display: block;
  padding-bottom: 50px;
}

.units-container a {
  color: #007bff;
  text-decoration: none;
}

.units-container a:visited {
  color: #007bff !important;
}
